
body {
    background-color: #efeddc;
}

.navbar {
    background-color: #fcfa91;
    padding: 10px 30px 10px;
}

.navbar-brand {
    color:   #33cc00;
    font-weight: bold;
    font-size: 2rem;
    padding:10px;
}

.navbar-brand:hover {
    color: whitesmoke;
    background-color: orange;
}

.nav-item {
    font-size: 1.3rem;
}

.nav-item:hover {
    color: whitesmoke;
    background-color: orange;
}

hr {
    border-top: 6px solid darkorange;
    font-family: Copperplate, fantasy;
}

div {
    text-align: center;
}

h1 {
    color: #994c33;
    margin: 20px;
}

h4 {
    color: #994c33;
}

h5 {
    color:  #a34729;
    margin: 15px;
}

p {
    margin: 15px;
    color: #006900;
}

li {
    list-style: none;
    font-weight: bold;
    color: #994c33;
}

a {
    text-decoration: none;
    color: #303600;
}

a:hover {
    color: #006900;
}

a p:hover {
    color: black;
}

form {
    margin-top: 20px;   
}

input {
    margin: auto;
    border-radius: 8px;
}

label,input{
    display:block;
    color: #006900;
}

select {
    width:15%;
    background-color: white;
    border-radius: 8px;
    color: #006900;
}

button {
    margin: 10px;
}

 #my-recipes {
    text-align: left;
    margin-left: 2.5em;
}

#cal-calc { 
   margin-top: 20px;
   text-decoration: none;
}

#user-name {
    text-align: left;
}

#cal {
    font-size: 1.3em;
    color:  #a34729;
}

